<div class="flex flex-col mx-auto w-1/2 py-4 gap-8">
  <app-movies-search-form
    (search)="searchHandler($event)"
  />

  @if (!isLoading()) {
    <div class="text-right">Movies found: <span class="text-white font-bold">{{ moviesTotal() }}</span></div>

    @for (movie of movies()?.data; track movie.id; ) {
      <app-movie-card
        [posterSrc]="movie.posterUrl"
        [movieTitle]="movie.title"
        [movieRating]="movie.rating"
        (click)="openDialogHandler(movie.id)"
      />
    }
  } @else {
    <div class="text-center text-8xl text-white">Loading...</div>
  }

  <div class="flex gap-2">
    <button class="btn flex-1" [disabled]="params().page === 1" (click)="paginateHandler('PREV')">Previous</button>
    <button class="btn flex-1" [disabled]="params().page === movies()?.totalPages" (click)="paginateHandler('NEXT')">
      Next
    </button>
  </div>

</div>
